In [66]:
import sqlite3 as sq

conn=sq.connect('ORDERS.db')
db=conn.cursor()
db.execute('CREATE TABLE IF NOT EXISTS ORDING(orderid TEXT, seqno REAL, itemid TEXT, quantity INTEGER, value REAL )')
conn.commit()
print('Database created:test.db')

Database created:test.db

In [72]:
import random as r
sql='insert into ORDING(orderid,seqno,itemid,quantity,value) values(?,?,?,?,?)'
for x in range(10):
    itid=chr(r.randint(96,96+26))+chr(96+96+26)+str(r.randint(200000,800000))
    db.execute(sql,('order_'+str(int(x)+1),str(r.randint(1000,10000)),str(itid),r.randint(1,39),r.randrange(0,10000)))
print('10 items insert into database')

10 items insert into database

In [109]:
sql='select * from ORDING'
data=[]
for x in db.execute(sql):
    print(x)

ProgrammingError: Cannot operate on a closed database.

In [102]:
sql='update ORDING set value=? where orderid=?'
item='order_'+str(r.randint(1,10))
db.execute(sql,(r.randint(10000,20000),item))
conn.commit()
print('Update executed!!!!')

Update executed!!!!

In [105]:
sql='delete from ORDING where quantity<=?'
db.execute(sql,(str(4)))
conn.commit()
print('delete made')

delete made

In [107]:
#Order Data By Quantity
conn=sq.connect('ORDERS.db')
db=conn.cursor()
sql='select * from ORDING order by quantity ASC'
db.execute(sql)
data=[x for x in db.execute(sql)]
print(data)
conn.close()

[('order_3', 6196.0, 'fÚ349841', 5, 7750.0), ('order_2', 7032.0, 'dÚ311641', 6, 2467.0), ('order_8', 1957.0, 'rÚ650120', 6, 4433.0), ('order_6', 6537.0, 'kÚ566689', 17, 7906.0), ('order_7', 4601.0, '`Ú675633', 20, 6257.0), ('order_4', 5713.0, 'uÚ407480', 23, 2451.0), ('order_5', 9747.0, 'vÚ531492', 25, 7362.0), ('order_9', 7217.0, 'lÚ740833', 29, 18254.0), ('order_1', 4803.0, 'pÚ687857', 36, 465.0)]

In [108]:
#Group By
conn=sq.connect('ORDERS.db')
db=conn.cursor()
sql='select * from ORDING group by quantity'
for x in db.execute(sql):
    print(x)
conn.close()

('order_3', 6196.0, 'fÚ349841', 5, 7750.0)
('order_2', 7032.0, 'dÚ311641', 6, 2467.0)
('order_6', 6537.0, 'kÚ566689', 17, 7906.0)
('order_7', 4601.0, '`Ú675633', 20, 6257.0)
('order_4', 5713.0, 'uÚ407480', 23, 2451.0)
('order_5', 9747.0, 'vÚ531492', 25, 7362.0)
('order_9', 7217.0, 'lÚ740833', 29, 18254.0)
('order_1', 4803.0, 'pÚ687857', 36, 465.0)